{% extends "./base.html" %}
{% load static %}

{% block title %} IXAYA {% endblock %}

{% block body %}
<div id="blog">
    
    <div class="container-fluid px-0 " style="max-height: 1038px; width: 100%; max-width: 100%; flex-direction: column; display: flex; background: #0C1A47">
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid" style="margin-top: 10px;">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ms-auto" style="align-items: center;">
                  <li class="nav-item px-2">
                    <a class="nav-link " href="/inicio"> Inicio </a>
                  </li>
                  <li class="nav-item px-2">
                    <a class="nav-link" href="/inicio#nosotros"> Nosotros </a>
                  </li>
                  <li class="nav-item px-2">
                    <a class="nav-link active" href="/blog"> Blog </a>
                  </li>
                  <li class="nav-item px-2">
                    <a class="nav-link" href="/inicio#aliados"> Aliados </a>
                  </li>
                  <li class="nav-item px-2">
                    <a class="nav-link" href="/inicio#patrocinadores"> Patrocinadores </a>
                  </li>
                  <li class="nav-item px-2">
                    <a class="nav-link"  href="#contacto">Contacto</a>
                  </li>
                  <li><a class="nav-link"  href="#donacion">
                    <div id="Cta" style=" width: 233px; justify-content: center; align-items: center; background: #A08847; display: inline-flex">
                      <div class="Donacion"><i class="bi bi-heart"></i> QUIERO DONAR</div>
                    </div>
                  </a></li>
                </ul>
              </div>
            </div>
        </nav>

        <div class="container-fluid" style="margin-bottom: 46px; margin-top: 49px;">
            <div class="row text-center">
                <div id="logo" class="col text-center justify-content-center" style="width: 100%;">
                    <img src="../static/img/Logo.svg" alt="" style="width: 126px;">
                    <div style="margin-left: 32.5%; width: 35%; height: 2px; background: #A08847; margin-top: 28px; margin-bottom: 15px;"></div>
                    <div style="color: white; font-size: 64px; font-family: Orbitron; font-weight: 400; line-height: 45.69px;">BLOG</div>
                </div>
            </div>
        </div>
    </div>

    <div id="donacion" class="container-fluid Donar" style="width: 100%; height: 721px; position: relative; background: #1F3262;">
        <div class="EarthGlobe" style="left: 10%; top: 24%; position: absolute">
          <img src="../static/img/EarthGlobe.svg" alt="">
        </div>
        <div class="SatLite" style="left: 32%; top: 54%; position: absolute">
          <img src="../static//img/Cubesat.svg" alt="">
        </div>
        <div style="width: 0px; height: 87%; left: 47.5%; top: 5%; position: absolute; border: 1px white solid"></div>
        <div style="width: 16px; height: 250.69px; left: 47.5%; top: 128.58px; position: absolute; background: white"></div>
        <div style="width: 45%; height: 128px; left: 54%; top: 151px; position: absolute; color: white; font-size: 64px; font-family: Orbitron; font-weight: 400; text-transform: uppercase; line-height: 63.19px; word-wrap: break-word">¡Sé parte del equipo IXAYA!</div>
        <div style="width: 40%; height: 96px; left: 54%; top: 296px; position: absolute; color: white; font-size: 28px; font-family: Barlow Semi Condensed; font-weight: 400; line-height: 36.50px; letter-spacing: 0.10px; word-wrap: break-word">Conoce los beneficios de ser un patrocinador de Misión IXAYA y las insignias que pueden recibir tu empresa y tú.</div>
        <div style="width: 40%; height: 97px; left: 736px; top: 468px; position: absolute; background: #A08847; justify-content: center; align-items: center; display: inline-flex">
          <a  href="" style="text-decoration: none;">
            <div id="Cta" style=" justify-content: center; align-items: center; background: #A08847; display: inline-flex">
              <div class="QuieroDonar"><i class="bi bi-heart"></i> QUIERO DONAR</div>
            </div>
          </a>
        </div>
    </div>
</div>
{% endblock %}