{% extends "./base_support.html" %}
{% load static %}

{% block title %} IXAYA {% endblock %}

{% block body %}

<div id="inicio">
<div class="container-fluid px-0 Hero">

  <div class="container-fluid" style="padding-top: 15%;">
    <div class="row justify-content-center">
      <div class="col" style="max-width:740px; background-image: url(../static/img/Logo.svg); background-size: contain; background-repeat: no-repeat; background-position: center;">
          <img src="../static/img/Logo.svg" style="visibility: hidden;">
      </div>
    </div>

    <div class="row justify-content-center" style=" padding-top: 4%;">
      <div class=" col text-center" style="max-width: 1096px;">
        <div class="TextoIxaya">
          <h1><span style="font-weight: bold;">
            Donde la mirada del cosmos se convierte en protección
          </span></h1>
          <h3><br>
            IXAYA es protección ambiental en órbita.
            <br>
            IXAYA emerge como el nanosatélite guardián cuya misión es monitorear desde el espacio nuestras ciudades y bosques de la ZMVM para prevenir incendios.
            <br>
            Con sus lentes guía el camino hacia un futuro más seguro y resiliente.
            <br>
            Es una solución revolucionaria, con tecnología de vanguardia, se erige como nuestros ojos en el cielo que detectan incendios desde el espacio.
            <br><br>
            <span style="font-weight: bold;">
              Apoya esta iniciativa hoy mismo.
            </span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="galeria" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for item in carouselItems %}
      {% if forloop.first %}
        <div class="carousel-item active">
          <img src={{item.image.url}} class="d-block w-100">
        </div>
      {% else %}
        <div class="carousel-item">
          <img src={{item.image.url}} class="d-block w-100">
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#galeria" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#galeria" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div id="nosotros">
  <div class="container-fluid section" >
    <div class="row row-cols-1">
      <div class="col text-break section-text-bl">MISIÓN IXAYA</div>
    </div>

    <div class="row row-cols-1" style="padding-top: 30px; padding-bottom: 30px;">
      <div class="col-1" id="description" style="padding-top: 1%; padding-bottom: 1%; width: 100%; color: #636363; font-size: 28px; font-family: Barlow Semi Condensed; line-height: 39.50px; position: relative;">
        <span style="font-weight: 700; letter-spacing: 0.10px;">Misión IXAYA </span>
        <span style="font-weight: 400;">
          es un proyecto que nace en el Programa Espacial Universitario (PEU) de la UNAM,
          cuya misión es generar una alerta temprana de incendios en la ZMVM,
          que foratelezca las acciones de protección civil y la conservación  de las área verdes.
          <br><br>
          Únete a IXAYA en su búsqueda por un futuro más seguro. Descubre cómo nuestras tecnologías 
          están transformando la protección ambiental y explora cómo puedes contribuir a esta causa inspiradora.
          <br>
          ¿Listos para ser parte del cambio?
          <br>
          Juntos, marcaremos la diferencia desde la Tierra hasta el espacio.
        </span>
      </div>      
    </div>

    <div class="row row-cols-1 row-cols-md-3 justify-content-between">
      <div class="col-md-4 ">
        <div class="blue-box" style="overflow-wrap: break-word; padding-top: 3%; padding-bottom: 3%;" >
          <span class="title-text">¿De dónde venimos?</span>
        </div>
        <div style="padding-top: 10%; padding-bottom: 10%;">
          <span class=" text-body-gr">
            Misión IXAYA tiene su origen en el Programa Espacial Universitario (PEU) de la UNAM.
            <br>
            El PEU se estableció en la UNAM en el 2017 con el propósito de unir la Ciencia y Tecnología Espacial y promover la cultura espacial en la universidad. 
            <br>
            El PEU busca involucrar a la comunidad universitaria en la generación y difusión del conocimiento científico para el avance de la tecnología espacial así como su aplicación en México.
          </span>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="blue-box" style="overflow-wrap: break-word; padding-top: 3%; padding-bottom: 3%;" >
          <span class="title-text">¿Por qué es importante?</span>
        </div>
        <div style="padding-top: 10%; padding-bottom: 10%;">
          <span class=" text-body-gr">
            IXAYA surge de la imperante necesidad de proteger nuestro entorno y salvaguardar el futuro de la ZMVM, 
            con la ayuda de la innovación espacial. Además de ser una alarma preventiva contra incendios, 
            podrá monitorear la vegetación y el crecimiento de la mancha urbana hacia el suelo de conservación y 
            otras zonas verdes o de riesgo, preservando un futuro sostenible desde el espacio.
          </span>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="blue-box" style="overflow-wrap: break-word; padding-top: 3%; padding-bottom: 3%;">
          <span class="title-text">¿Cómo te puedes sumar?</span>
        </div>
        <div style="padding-top: 10%; padding-bottom: 10%;">
          <span class=" text-body-gr">
            Tú también puedes  ser un vigilante espacial. 
            <br>
            Únete a la misión de IXAYA para fortalecer nuestra misión. Tu aportación respaldará la tecnología que protege nuestro medio ambiente desde el espacio.
            <br>
            Gracias a tu apoyo financiero podremos expandir nuestro impacto, mejorar la tecnología y proteger nuestro entorno. Cada aportación nos acerca a un futuro más seguro y saludable para todos.
            <br>
            <span style="font-weight: bold;">Descubre cómo puedes contribuir hoy mismo.</span>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <div id="News" style="width: 100%; height: 760px; position: relative; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
  <div style="margin-left: 57px; margin-top: 67px;">
    <div id="newsrusel" class="carousel slide" data-bs-ride="carousel" style="height: 310px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex;">
      <div class="carousel-inner">
        {% for nn in noticias %}
        <div class="carousel-item active">
          <div class="row">
          {% for n in nn%}
            <div class="col-sm-4">
              <div class="card" style="width: 18rem; position: absolute;">
                <img src={{n.img}} class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{n.title}}</h5>
                  <p class="card-text">{{n.desc}}</p>
                  <a href={{n.ref}}>Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#newsrusel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#newsrusel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div> -->

</div>
{% endblock %}

{% block body2 %}
<div>
<div id="unete">
  <div class="container-fluid section aliados">
    
    <div class="row" style="margin-bottom: 40px;">
        <span class="section-text">SOY UN USUARIO</span>
    </div>
    
    <!-- <div class="row justify-content-center">
      <div class="col-1" style="margin-top: 70px; margin-bottom: 36px; width: 296px; height: 41px; background: #1F3262; border: 0.50px white solid; justify-content: center; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 24px; font-family: Barlow Semi Condensed; font-weight: 600; line-height: 79.69px; letter-spacing: 6.50px; word-wrap: break-word">INDIVIDUOS</div>
      </div>
    </div> -->

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 text-center">
      
      <div class="col" style="margin-bottom: 5%;">
        <div class="partner-box">
          <div class="partner-level">NIVEL 1</div>
          <div class="partner-tittle-box" style="background: #5263FF;">
            <span class="partner-tittle">OBSERVADOR ESPACIAL</span>
          </div>
          <div class="text-body-wt">
            Es la participación básica la cual permite que todos se puedan 
            unir al equipo de Misión IXAYA.
            <br>
            Este paquete ofrece souvenirs.
          </div>
        </div>
      </div>

      <div class="col" style="margin-bottom: 5%;">
        <div class="partner-box">
          <div class="partner-level">NIVEL 2</div>
          <div class="partner-tittle-box" style="background: #4DC6FC;">
            <span class="partner-tittle">EXPLORADOR LUNAR</span>
          </div>
          <div class="text-body-wt">
            Con esta inversión obtienes una fotografía espacial de la Tierra de noche, 
            además de los beneficios del <strong>Observador Espacial</strong>.
          </div>
        </div>
      </div>

      <div class="col" style="margin-bottom: 5%;">
        <div class="partner-box">
          <div class="partner-level">NIVEL 3</div>
          <div class="partner-tittle-box" style="background: #F65F65;">
            <span class="partner-tittle">VIAJERO ESTELAR</span>
          </div>
          <div class="text-body-wt">
            La recompensa de esta categoría es un mapa estelar personalizado, 
            además de los beneficios de <strong>Explorador Lunar</strong>.
          </div>
        </div>
      </div>

      <div class="col" style="margin-bottom: 5%;">
        <div class="partner-box">
          <div class="partner-level">NIVEL 4</div>
          <div class="partner-tittle-box" style="background: #FF50E8;">
            <span class="partner-tittle">GUARDIÁN CÓSMICO</span>
          </div>
          <div class="text-body-wt">
            <strong>Contiene todos los beneficios.</strong>
            <br>
            Las personas que escojan este nivel de participación adquieren 
            acceso a un taller astronómico básico y un telescopio personalizado.
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom: 40px;">
      <span class="section-text">SOY UNA EMPRESA/INSTITUCIÓN</span>
    </div>

    <!-- <div class="row justify-content-center">
      <div class="col-1" style="margin-top: 70px; margin-bottom: 36px; width: 296px; height: 41px; background: #1F3262; border: 0.50px white solid; justify-content: center; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 24px; font-family: Barlow Semi Condensed; font-weight: 600; line-height: 79.69px; letter-spacing: 6.50px; word-wrap: break-word">INSTITUCIONES</div>
      </div>
    </div> -->

    <div class="row justify-content-center text-center">
      <div class="col px-0" style="max-width: 600px;">
        <div class="partner-box">
          <div class="partner-tittle-box" style="background: #5263FF;">
            <span class="partner-tittle" style="text-transform: uppercase;">
              Programa de beneficios institucionales a la medida de los patrocinadores
            </span>
          </div>
          <div class="text-body-wt">
            Contáctanos para brindarte atención personalizada a los objetivos de tu empresa y 
            juntos crear tu programa de beneficios institucionales a la medida de los patrocinadores.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="aliados" style="width: 100%; position: relative; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex;">
  <div class="container-fluid section">
    <div class="row">
      <span class="section-text-bl">Aliados estratégicos</span>
    </div>

    <div class="row">
      <div class="col">
        <div style="margin-top: 11px; margin-bottom: 44px; color: #636363; font-size: 28px; font-family: Barlow Semi Condensed; font-weight: 400; line-height: 39.50px; word-wrap: break-word">
          Conviértete en parte de nuestros aliados estratégicos al invertir en tu 
          <strong>
            Programa de beneficios institucionales a la medida de los patrocinadores.
          </strong>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="sponsorCarousel" class="carousel px-0" data-bs-ride="carousel" style="height: 500px;">
        <div class="carousel-inner px-0">
          {% for sponsor in sponsors %}
            {% if forloop.first %}
              <div class="carousel-item px-0 active">
                <div class="card mx-auto">
                  <img src={{sponsor.image.url}} class="card-img-top" alt="" style="height: 200px;">
                  <div class="card-body" style="background-color: #EFEDE9; border-bottom-left-radius: 50px; padding: 30px;">
                    <span class="card-title-bl">
                        {{sponsor.name}}
                    </span>
                    <div style="width: 100%; height: 3px; margin-top: 10px; margin-bottom: 10px; background: #A39274"></div>
                    <span class="text-body-gr">
                      {{sponsor.description}}
                    </span>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="carousel-item px-0">
                <div class="card mx-auto">
                  <img src={{sponsor.image.url}} class="card-img-top" alt="" style="height: 200px;">
                  <div class="card-body" style="background-color: #EFEDE9; border-bottom-left-radius: 50px; padding: 30px;">
                    <span class="card-title-bl">
                        {{sponsor.name}}
                    </span>
                    <div style="width: 100%; height: 3px; margin-top: 10px; margin-bottom: 10px; background: #A39274"></div>
                    <span class="text-body-gr">
                      {{sponsor.description}}
                    </span>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#sponsorCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#sponsorCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div> -->
</div>

{% endblock %}